.Login-container {
    background: url("media/background.jpg") no-repeat;
    background-size: cover;
}

.login-grid {
    min-height: 100vh;
}

@media (min-width: 600px) {
    .Main-container {
        margin-top: 84px;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .Main-container {
        margin-top: 68px;
    }
}

.Main-container {
    margin-top: 76px;
}

.clickable {
    cursor: pointer;
}